@use "../variables.scss";
@use "../components/button";
@use "../components/form";


// content

.business-man {
    background-color: variables.$secondary-background-color;
    height: 200px;
    margin-top: 20px;
    border-radius: 20px;
}

// section man
.section-man {
    margin-bottom: 20px;
}
.man-picture {
    width: 200px;
    height: 200px;
}


// section service
.section-service {
    margin-bottom: 40px;
}
.content-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    a {
        i {
            font-size: 3.5rem;
            padding: 20px;
            margin-bottom: 20px;
            color: variables.$premeri-color;
            border-radius: 50%;
            background-color: rgb(246 227 227);
            transition: all 0.4s linear;
        }
    }
    a:hover i {
        box-shadow: inset 0 0 0 3em #ffa382;;
    }
}

// section 2

.back-left,.back-right {
    height: 200px;
    background-color: variables.$background-color;
    border-radius: 30px;
    margin-bottom: 20px;
}

.section-nav {
    display: flex;
    gap: 20px;
    font-size: 1.6rem;
    li {
        border: 1px solid variables.$premeri-color;
        padding: 5px 10px;
        border-radius: 20px;
        color: variables.$premeri-color;
    }
    li:hover {
        background-color: variables.$premeri-color;
        color: variables.$secondary-color;
    }
}
.section-box {
    // background-image: url(../../../public/img/547d9aba8eb8c8a8dc6d9cc414deb862ae2b8a31.png);
}