<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet"
/>
<!-- reset css -->
<link rel="stylesheet" href="../scss/reset.scss" />
<!-- css -->
<footer class="footer">
    <div class="container">
        <div
            class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1"
        >
            <div class="col">
                <nav class="footer-about">
                    <ul class="footer-list">
                        <li><a href="">About us</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">News</a></li>
                        <li><a href="">Support</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <nav class="footer-about">
                    <ul class="footer-list">
                        <li><a href="">SERVICE</a></li>
                        <li><a href="">Help Center</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">How to buy</a></li>
                        <li><a href="">Terms of use</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <nav class="footer-about">
                    <ul class="footer-list">
                        <li><a href="">PAYMENT</a></li>
                        <li>
                            <a href=""
                                ><img src="./img/payment1.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                ><img src="./img/payment2.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                ><img src="./img/payment3.png" alt=""
                            /></a>
                        </li>
                        <li>
                            <a href=""
                                ><img src="./img/payment4.png" alt=""
                            /></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col">
                <nav class="footer-about">
                    <ul class="footer-list">
                        <li><a href="">FOLLOW US</a></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">LinkedIn</a></li>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Zalo</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div
            class="row row-cols-xxl-2 rol-cols-xl-2 row-cols-lg-2 row-cols-md-1 row-cols-sm-1 row-cols-1 gy-2"
        >
            <div class="col">
                <div class="company">
                    <h1 class="company-title">COMPANY</h1>
                    <p>
                        Hotline: <a href="tel:0982636800">0982636800</a> (Các
                        ngày trong tuần từ 8h đến 24h)
                    </p>
                    <p>Email: abcs@gmail.</p>
                </div>
            </div>
            <div class="col">
                <div>
                    <p class="certification-title">certification</p>
                    <div class="certification">
                        <img src="./img/certification1.png" alt="" />
                        <img src="./img/certification2.png" alt="" />
                        <img src="./img/certification3.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© 2024 by NapThe. All Rights Reserved.</p>
    </div>
</footer>
