<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap"
    rel="stylesheet"
/>
<!-- reset css -->
<link rel="stylesheet" href="../scss/reset.scss" />
<footer>
    <h1>footer</h1>
</footer>
