<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet"
/>
<link rel="stylesheet" href="../scss/layout/_header.scss" />
<!-- reset css -->
<link rel="stylesheet" href="../scss/reset.scss" />

<header class="header">
    <div class="inner">
        <div class="container">
            <div class="row row-cols-lg-2 row-cols-sm-2">
                <div class="col">
                    <nav class="header-about">
                        <a href="">Về chúng tôi</a>
                    </nav>
                </div>
                <div class="col">
                    <ul class="header-support">
                        <li>
                            <a href="">
                                Trung tâm hỗ trợ
                                <i class="header-icon fas fa-arrow-down"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                ENG
                                <i class="header-icon fas fa-arrow-down"></i>
                            </a>
                        </li>
                        <li>
                            <a href=""
                                ><i class="header-icon far fa-user-circle"></i>
                                Tài khoản</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-logo">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header-logo__left">
                        <span class="header-circle">
                            <span class="header-circle__half"></span>
                        </span>
                        <h1 class="header-logo__text">Nạp Tiền</h1>
                    </div>
                </div>
                <div class="col">
                    <div class="header-search">
                        <select class="search-select">
                            <option value="All categories">
                                All categories
                            </option>
                        </select>
                        <div class="header-input">
                            <input
                                class="header-input__size"
                                type="text"
                                placeholder="Search"
                            />
                            <i class="header-search__icon fas fa-search"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="wrap-header__nav">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="header-nav">
                        <li>
                            <a href="">Trang chủ </a>
                        </li>
                        <li>
                            <a href=""
                                >Thẻ điện thoại
                                <i
                                    class="header-nav__icon fas fa-chevron-down"
                                ></i>
                            </a>
                            <ul class="nav-level2">
                                <li>
                                    <a href="">Gift card</a>
                                    <i class="fas fa-chevron-right"></i>
                                    <ul class="nav-level3">
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike Gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                        <li>
                                            <a href=""
                                                >victoria's Secret Gift card</a
                                            >
                                        </li>
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike Gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                        <li>
                                            <a href=""
                                                >victoria's Secret Gift card</a
                                            >
                                        </li>
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike Gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                        <li>
                                            <a href=""
                                                >victoria's Secret Gift card</a
                                            >
                                        </li>
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Wallet gift card</a>
                                    <i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="">iTunes gift card</a>
                                    <i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="">WTF time card</a
                                    ><i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="">WTFAST</a
                                    ><i class="fas fa-chevron-right"></i>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=""
                                >Nạp game
                                <i
                                    class="header-nav__icon fas fa-chevron-down"
                                ></i
                            ></a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="nav-call">
                        <i class="fas fa-phone-alt"></i>
                        <a class="nav-call__text" href="tel:+1920010800">
                            <p>Hotline:</p>
                            19200 10800</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
