<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
    rel="stylesheet"
/>
<!-- reset css -->
<link rel="stylesheet" href="../scss/reset.scss" />

<header class="header">
    <div class="inner">
        <div class="container">
            <div class="row row-cols-lg-2 row-cols-sm-2">
                <div class="col">
                    <nav class="header-about">
                        <a href="">Về chúng tôi</a>
                    </nav>
                    <div class="mobile-about">
                        <label class="mobile-list">
                            <input type="checkbox" hidden />
                            <i class="fas fa-ellipsis-h"></i>
                            <nav class="wrap-moblie-list">
                                <ul class="mobile-list-nav">
                                    <p class="moblie-list__title">
                                        List Card voucher
                                        <i class="fas fa-times"></i>
                                    </p>
                                    <li class="mobile-list_item">
                                        <a href="">Mobile Game</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Cards Game</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Cards Payment</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Cards Gift</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Cards Game</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Console Game</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">CD-Key</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Video Streaming</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Music</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Shopping</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Telco Prepaid Cards</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Tools</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Software</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Social App</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Freebie Codes</a>
                                    </li>
                                    <li class="mobile-list_item">
                                        <a href="">Subscript</a>
                                    </li>
                                </ul>
                            </nav>
                        </label>
                    </div>
                </div>
                <div class="col">
                    <ul class="header-support">
                        <li>
                            <a href="">
                                Trung tâm hỗ trợ
                                <i class="header-icon fas fa-arrow-down"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                ENG
                                <i class="header-icon fas fa-arrow-down"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="header-icon far fa-user-circle"></i>
                                Tài khoản
                            </a>
                            <ul class="header-account-mobile">
                                <li>
                                    <a href="../sign-up.html">Đăng nhập</a>
                                </li>
                                <li>
                                    <a href="../sign-in.html">Đăng xuất</a>
                                </li>
                                <li>
                                    <a href="../collection.html">Sản phẩm</a>
                                </li>
                                <li>
                                    <a href="../payment.html"
                                        >Thanh toán online</a
                                    >
                                </li>
                                <li>
                                    <a href="../account.html"
                                        >sản phẩn người dùng
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="mobile-hotline">
                        <i class="fas fa-phone-alt"></i>
                        <p class="header-hotline">Hotline: 19200 10800</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-logo">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div>
                        <a href="/" class="header-logo__left">
                            <span class="header-circle">
                                <span class="header-circle__half"></span>
                            </span>
                            <h1 class="header-logo__text">Nạp Tiền</h1>
                        </a>
                    </div>
                    <div class="header-mobile-icon">
                        <label class="mobile-checkbox">
                            <input type="checkbox" name="" id="" hidden />
                            <i class="fas fa-bars"></i>
                            <aside class="aside-mobile">
                                <div class="wrap-aside-mobile">
                                    <div class="header-logo__mobile">
                                        <span class="header-circle">
                                            <span
                                                class="header-circle__half"
                                            ></span>
                                        </span>
                                        <h1 class="header-mobile__text">
                                            Cardtob
                                        </h1>
                                        <div class="aside-mobile-close">
                                            <i class="fas fa-times"></i>
                                        </div>
                                    </div>
                                    <ul class="aside-list">
                                        <li><a href="">Card voucher</a></li>
                                        <li><a href="">Top-up</a></li>
                                        <li><a href="">Contact us</a></li>
                                    </ul>
                                </div>
                            </aside>
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="header-search">
                        <select class="search-select">
                            <option value="All categories">
                                All categories
                            </option>
                        </select>
                        <div class="header-input">
                            <input
                                class="header-input__size"
                                type="text"
                                placeholder="Search"
                            />
                            <i class="header-search__icon fas fa-search"></i>
                        </div>
                    </div>
                    <div class="header-search-mobile">
                        <i class="fas fa-search"></i>
                        <label class="wrap-accout-mobile">
                            <input type="checkbox" hidden />
                            <i class="far fa-user"></i>
                            <div class="search-account-mobile">
                                <ul class="account-mobile-list">
                                    <li>
                                        <a href="../sign-up.html">Đăng nhập</a>
                                    </li>
                                    <li>
                                        <a href="../sign-in.html">Đăng xuất</a>
                                    </li>
                                    <li>
                                        <a href="../collection.html"
                                            >Sản phẩm</a
                                        >
                                    </li>
                                    <li>
                                        <a href="../payment.html"
                                            >Thanh toán online</a
                                        >
                                    </li>
                                    <li>
                                        <a href="../account.html"
                                            >sản phẩn người dùng
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="wrap-header__nav">
        <div class="container">
            <div
                class="row row-cols-xxl-2 row-cols-xl-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-2 row-cols-1"
            >
                <div class="col">
                    <ul class="header-nav">
                        <li>
                            <a href="">Trang chủ </a>
                        </li>
                        <li>
                            <a href=""
                                >Thẻ điện thoại
                                <i
                                    class="header-nav__icon fas fa-chevron-down"
                                ></i>
                            </a>
                            <ul class="nav-level2">
                                <li>
                                    <a href="">Gift card</a>
                                    <i class="fas fa-chevron-right"></i>
                                    <ul class="nav-level3">
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike Gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                        <li>
                                            <a href=""
                                                >victoria's Secret Gift card</a
                                            >
                                        </li>
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike Gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                        <li>
                                            <a href=""
                                                >victoria's Secret Gift card</a
                                            >
                                        </li>
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike Gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                        <li>
                                            <a href=""
                                                >victoria's Secret Gift card</a
                                            >
                                        </li>
                                        <li><a href="">IMo girf car</a></li>
                                        <li><a href="">WTFast card</a></li>
                                        <li>
                                            <a href="">nike gift card</a>
                                        </li>
                                        <li>
                                            <a href="">iTunes gift card</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Wallet gift card</a>
                                    <i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="">iTunes gift card</a>
                                    <i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="">WTF time card</a
                                    ><i class="fas fa-chevron-right"></i>
                                </li>
                                <li>
                                    <a href="">WTFAST</a
                                    ><i class="fas fa-chevron-right"></i>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=""
                                >Nạp game
                                <i
                                    class="header-nav__icon fas fa-chevron-down"
                                ></i
                            ></a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="nav-call">
                        <i class="fas fa-phone-alt"></i>
                        <a class="nav-call__text" href="tel:+1920010800">
                            <p>Hotline:</p>
                            19200 10800</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
