$premeri-color: #ED5A25;
$secondary-color: #fff4f1;
$text-color: #919191;
$primery-text-color: #FAFAFA;
$secondary-text-color: #0b0909;
$background-color: #fdefeb;
$secondary-background-color: #FFDBCE;
$font-manrope: "Manrope", sans-serif;
$font-inter: "Inter", sans-serif;
$btn-sign-color: #f2f2f2;
$succes-color: #6AC17B;
$warn-color: #FFBA4A;
$danger-color: #EE003333;


$grid-breakpoints: (
  xxxl: 2500px,
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xm: 320px
);
